In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [9]:
df=pd.read_csv('Churn_Modelling.csv')

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [12]:
df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [13]:
x=df.iloc[:,3:-1]
y=df.iloc[:,-1]

In [14]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [15]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [16]:
x['Geography'].replace({'France':0,'Germany':1,'Spain':2},inplace=True)

In [17]:
x['Gender'].replace({'Female':0,'Male':1},inplace=True)

In [18]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [19]:
from  sklearn.preprocessing import StandardScaler

In [20]:
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [21]:

y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [22]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [23]:
import tensorflow as tf

In [24]:
from tensorflow.keras.models import Sequential  # it is used to initialize ann
from tensorflow.keras.layers import Dense # provides layer

In [25]:
ann=Sequential() # step1 initialize the ann

ann.add(Dense(units=6,activation='relu'))  # step2 add hidden layer

ann.add(Dense(units=1,activation='sigmoid')) # step add output layer

ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) #establishing connection

ann.fit(xtrain,ytrain,batch_size=30,epochs=50) #train the model

ypred=ann.predict(xtest)# make prediction

Epoch 1/50
234/234 [==============================] - 2s 3ms/step - loss: 0.5918 - accuracy: 0.7720
Epoch 2/50
234/234 [==============================] - 1s 3ms/step - loss: 0.5095 - accuracy: 0.7987
Epoch 3/50
234/234 [==============================] - 1s 3ms/step - loss: 0.4653 - accuracy: 0.8051
Epoch 4/50
234/234 [==============================] - 1s 3ms/step - loss: 0.4412 - accuracy: 0.8114
Epoch 5/50
234/234 [==============================] - 1s 2ms/step - loss: 0.4288 - accuracy: 0.8139
Epoch 6/50
234/234 [==============================] - 0s 2ms/step - loss: 0.4214 - accuracy: 0.8146
Epoch 7/50
234/234 [==============================] - 0s 2ms/step - loss: 0.4157 - accuracy: 0.8174
Epoch 8/50
234/234 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8190
Epoch 9/50
234/234 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8203
Epoch 10/50
234/234 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8219
Epoch 11/50
234/234 [==============================] - 0s 2ms/step - loss: 0.4002 - accuracy: 0.8233
Epoch 12/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3974 - accuracy: 0.8250
Epoch 13/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3953 - accuracy: 0.8257
Epoch 14/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8264
Epoch 15/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3910 - accuracy: 0.8266
Epoch 16/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3891 - accuracy: 0.8263
Epoch 17/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3874 - accuracy: 0.8264
Epoch 18/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3858 - accuracy: 0.8263
Epoch 19/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3841 - accuracy: 0.8269
Epoch 20/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3824 - accuracy: 0.8286
Epoch 21/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3809 - accuracy: 0.8277
Epoch 22/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3792 - accuracy: 0.8286
Epoch 23/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3778 - accuracy: 0.8310
Epoch 24/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3765 - accuracy: 0.8319
Epoch 25/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3751 - accuracy: 0.8309
Epoch 26/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3739 - accuracy: 0.8317
Epoch 27/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3727 - accuracy: 0.8316
Epoch 28/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3715 - accuracy: 0.8323
Epoch 29/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3706 - accuracy: 0.8340
Epoch 30/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3695 - accuracy: 0.8437
Epoch 31/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8427
Epoch 32/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3676 - accuracy: 0.8447
Epoch 33/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3664 - accuracy: 0.8453
Epoch 34/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3656 - accuracy: 0.8476
Epoch 35/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3648 - accuracy: 0.8466
Epoch 36/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3639 - accuracy: 0.8470
Epoch 37/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3632 - accuracy: 0.8476
Epoch 38/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3625 - accuracy: 0.8487
Epoch 39/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8489
Epoch 40/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3615 - accuracy: 0.8481
Epoch 41/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3606 - accuracy: 0.8487
Epoch 42/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3601 - accuracy: 0.8500
Epoch 43/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3595 - accuracy: 0.8509
Epoch 44/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3587 - accuracy: 0.8510
Epoch 45/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3582 - accuracy: 0.8509
Epoch 46/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3580 - accuracy: 0.8516
Epoch 47/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3574 - accuracy: 0.8516
Epoch 48/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3570 - accuracy: 0.8517
Epoch 49/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8523
Epoch 50/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8506
94/94 [==============================] - 0s 1ms/step

In [26]:
ypred=ypred>0.5

In [27]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      2373
           1       0.77      0.39      0.52       627

    accuracy                           0.85      3000
   macro avg       0.81      0.68      0.71      3000
weighted avg       0.84      0.85      0.83      3000