In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('Churn_Modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.describe

<bound method NDFrame.describe of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>

In [5]:
x=df.iloc[:,3:-1]
y=df.iloc[:,-1]

In [6]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [7]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
x['Geography'].replace({'France':0,'Germany':1,'Spain':2},inplace=True)

In [9]:
x['Gender'].replace({'Female':0,'Male':1},inplace=True)

In [10]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

In [11]:
from  sklearn.preprocessing import StandardScaler

In [12]:
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [13]:

y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [14]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64
9996,516,0,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,0,36,7,0.00,1,0,1,42085.58
9998,772,1,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,0,28,4,130142.79,1,1,0,38190.78

In [15]:
import tensorflow as tf

In [16]:
from tensorflow.keras.models import Sequential  # it is used to initialize ann
from tensorflow.keras.layers import Dense # provides layer

In [17]:
ann=Sequential() # step1 initialize the ann

ann.add(Dense(units=6,activation='relu'))  # step2 add hidden layer

ann.add(Dense(units=1,activation='sigmoid')) # step add output layer

ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) #establishing connection

ann.fit(xtrain,ytrain,batch_size=30,epochs=50) #train the model

ypred=ann.predict(xtest)# make prediction

Epoch 1/50
234/234 [==============================] - 2s 3ms/step - loss: 0.7503 - accuracy: 0.5146
Epoch 2/50
234/234 [==============================] - 1s 4ms/step - loss: 0.5613 - accuracy: 0.7430
Epoch 3/50
234/234 [==============================] - 1s 4ms/step - loss: 0.5040 - accuracy: 0.7940
Epoch 4/50
234/234 [==============================] - 1s 3ms/step - loss: 0.4768 - accuracy: 0.8020
Epoch 5/50
234/234 [==============================] - 1s 4ms/step - loss: 0.4615 - accuracy: 0.8017
Epoch 6/50
234/234 [==============================] - 1s 6ms/step - loss: 0.4513 - accuracy: 0.8019
Epoch 7/50
234/234 [==============================] - 2s 7ms/step - loss: 0.4434 - accuracy: 0.8037
Epoch 8/50
234/234 [==============================] - 1s 6ms/step - loss: 0.4368 - accuracy: 0.8043
Epoch 9/50
234/234 [==============================] - 1s 4ms/step - loss: 0.4305 - accuracy: 0.8071
Epoch 10/50
234/234 [==============================] - 1s 3ms/step - loss: 0.4242 - accuracy: 0.8100
Epoch 11/50
234/234 [==============================] - 1s 4ms/step - loss: 0.4173 - accuracy: 0.8139
Epoch 12/50
234/234 [==============================] - 1s 3ms/step - loss: 0.4085 - accuracy: 0.8201
Epoch 13/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3982 - accuracy: 0.8286
Epoch 14/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3884 - accuracy: 0.8373
Epoch 15/50
234/234 [==============================] - 1s 4ms/step - loss: 0.3797 - accuracy: 0.8456
Epoch 16/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3733 - accuracy: 0.8499
Epoch 17/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3688 - accuracy: 0.8510
Epoch 18/50
234/234 [==============================] - 1s 4ms/step - loss: 0.3656 - accuracy: 0.8530
Epoch 19/50
234/234 [==============================] - 1s 4ms/step - loss: 0.3632 - accuracy: 0.8541
Epoch 20/50
234/234 [==============================] - 1s 4ms/step - loss: 0.3612 - accuracy: 0.8530
Epoch 21/50
234/234 [==============================] - 2s 7ms/step - loss: 0.3598 - accuracy: 0.8536
Epoch 22/50
234/234 [==============================] - 1s 5ms/step - loss: 0.3589 - accuracy: 0.8529
Epoch 23/50
234/234 [==============================] - 1s 5ms/step - loss: 0.3580 - accuracy: 0.8541
Epoch 24/50
234/234 [==============================] - 1s 5ms/step - loss: 0.3575 - accuracy: 0.8530
Epoch 25/50
234/234 [==============================] - 1s 3ms/step - loss: 0.3568 - accuracy: 0.8550
Epoch 26/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3564 - accuracy: 0.8544
Epoch 27/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8536
Epoch 28/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3554 - accuracy: 0.8560
Epoch 29/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8549
Epoch 30/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8550
Epoch 31/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3544 - accuracy: 0.8550
Epoch 32/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8549
Epoch 33/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8549
Epoch 34/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3536 - accuracy: 0.8561
Epoch 35/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8567
Epoch 36/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8560
Epoch 37/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8550
Epoch 38/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3530 - accuracy: 0.8561
Epoch 39/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.8569
Epoch 40/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8567
Epoch 41/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8561
Epoch 42/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8566
Epoch 43/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3525 - accuracy: 0.8561
Epoch 44/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8566
Epoch 45/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8574
Epoch 46/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8550
Epoch 47/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3519 - accuracy: 0.8574
Epoch 48/50
234/234 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8573
Epoch 49/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8584
Epoch 50/50
234/234 [==============================] - 1s 2ms/step - loss: 0.3510 - accuracy: 0.8577
94/94 [==============================] - 0s 3ms/step

In [18]:
ypred=ypred>0.5

In [19]:
from sklearn.metrics import classification_report
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.86      0.98      0.91      2373
           1       0.83      0.39      0.53       627

    accuracy                           0.86      3000
   macro avg       0.84      0.69      0.72      3000
weighted avg       0.85      0.86      0.83      3000